.nav-bar {
    position: fixed;
    display: flex;
    width: 350px;
    top: 50px;
    border-right: 1px solid rgb(70, 70, 70);
    height: 700px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav-bar li {
    line-height: 60px;
}

.nav-bar ul li a{
    position: relative;
    top: 30px;
    padding: 10px 16px 10px 16px;
    border-radius: 15px;
    left: 60px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    font-size: 20px;
    flex: 1;
}

.nav-bar i {
    padding-right:10px ;
}

.nav-bar a {
    font-size: 100px;
}

.down {
    position: relative;
    top: 40px;
    
}

.nav-bar a:hover {
    background-color: rgba(201, 201, 201, 0.153);
    transition: 0.2s;
    
}

